.login-block {
    margin: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
}