/* App.css */
.app {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
}

.app-title {
font-size: 24px;
margin-bottom: 10px;
text-align: center;
}

.app-description {
font-size: 16px;
margin-bottom: 20px;
}

.toggle-instructions-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.instructions {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.single-player {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 10px auto 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.game-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.game-difficulty-info {
    font-size: 16px;
    margin-bottom: 10px;
}
